@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "Azeret Mono", monospace;
}
* {
  margin: 0;
}

/* navbar style  */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 200px;
  margin-top: 35px;
}
nav p {
  color: rgb(13, 19, 33);
  font-size: 28px;
  font-weight: 600;
}
nav button {
  width: 228px;
  height: 58px;
  font-size: 20px;
  font-weight: 500;
  box-sizing: border-box;
  border: 1px solid rgb(13, 19, 33);
  border-radius: 8px;
  opacity: 0.8;
  cursor: pointer;
}
/* nav bar ends here  */
/* banner style start here  */
.banner-container {
  max-width: 1440px;
  height: 652px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  background-image: url("./assets/herobanner.png");
  margin-top: 35px;
  margin-bottom: 74px;
}
.banner-content {
  width: 998px;
  height: 582px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.banner-content h2 {
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  margin-top: 24px;
}
.banner-content p {
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  opacity: 0.7;
  margin-top: 24px;
}
.banner-content button {
  font-size: 20px;
  font-weight: 400;
  margin-top: 40px;
  color: white;
  width: 208px;
  height: 50px;
  border-radius: 8px;
  background-color: black;
}
/* banner style ends  */

/* why web development style start here  */
.development-containers {
  width: 1140px;
  height: 1395px;
  margin: 0 auto;
  margin-bottom: 88px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  background-color: rgba(13, 19, 33, 0.02);
}
.development-container {
  width: 946px;
  height: 1235px;
}
.development-title {
  width: 852px;
  height: 115px;
  margin: 0 auto;
  margin-bottom: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.development-title h2 {
  font-size: 32px;
  font-weight: 600;
}
.development-title p {
  font-size: 16px;
  font-weight: 400;
  opacity: 0.7;
  text-align: center;
  margin-top: 26px;
}
.learn-container {
  width: 946px;
  height: 336px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
}
.learn-content {
  width: 850px;
  height: 240px;
  display: flex;
  justify-content: space-between;
}
.details-content {
  width: 477px;
  height: 220px;
}
.details-content h3 {
  font-size: 24px;
  font-weight: 700;
  color: rgba(13, 19, 33, 0.7);
  margin-bottom: 18px;
}
.details-content p {
  font-size: 16px;
  font-weight: 400;
  opacity: 0.7;
  margin-bottom: 32px;
}
.details-content button {
  width: 150px;
  height: 48px;
  opacity: 0.7;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}
.img-container {
  width: 259.56px;
  height: 217.01px;
}
/* why web development style ends here  */

/* Inspiration style start here  */
.inspiration-container {
  width: 1140px;
  height: 777px;
  margin: 0 auto;
  margin-bottom: 160px;
}
.inspiration-content {
  width: 852px;
  height: 115px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 44px;
}
.inspiration-content h3 {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 24px;
}
.inspiration-content p {
  font-size: 16px;
  font-weight: 400;
  opacity: 0.7;
  text-align: center;
}
.video-container {
  width: 1140px;
  height: 614px;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.video-content iframe {
  width: 1076px;
  height: 550px;
  border-radius: 16px;
}
/* Inspiration style ends here  */

/* Target style start here */
.target-container {
  margin: 0 auto;
  margin-bottom: 50px;
  width: 1140px;
  height: 463px;
}
.target-title {
  width: 946px;
  height: 115px;
  margin: 0 auto;
  margin-bottom: 44px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.target-title h3 {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 28px;
}
.target-title p {
  font-size: 16px;
  font-weight: 400;
  opacity: 0.7;
  text-align: center;
}
.target-items {
  width: 1140px;
  height: 300px;
  display: flex;
  justify-content: space-between;
}
.item-center1 {
  width: 364px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  background-color: rgba(255, 76, 30, 0.05);
}
.item-center2 {
  width: 364px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  background-color: rgba(0, 76, 232, 0.05);
}
.item-center3 {
  width: 364px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  background-color: rgba(255, 223, 0, 0.05);
}
.item-name {
  width: 284px;
  height: 220px;
}
.item-name img {
  margin-bottom: 24px;
}
.item-name h4 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 12px;
}
.item-name p {
  font-size: 16px;
  font-weight: 400;
  opacity: 0.7;
  margin-bottom: 24px;
}
.item-name a {
  font-size: 12px;
  font-weight: 700;
  color: black;
}
/* Target style ends here */
